In [3]:
# TOPIC: List
# Excercise 1
# Q1: list of 5 random numbers and print the list
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
print("Random List:", random_numbers)

Random List: [75, 56, 62, 47, 82]

In [5]:
# Q2. Insert 3 new values to the list and print the updated list
random_numbers.extend([101, 102, 103])
print("Updated List:", random_numbers)

Updated List: [75, 56, 62, 47, 82, 101, 102, 103]

In [7]:
# Q3. Use a for loop to print each element in the list
for number in random_numbers:
    print(number)

75
56
62
47
82
101
102
103

In [9]:
# Topic: Dictionary
# Excercise 2
# Q1. Create a dictionary with keys 'name', 'age', and 'address'
person = {'name': 'John', 'age': 25, 'address': 'New York'}
print("Name:",person['name'])
print("Age:",person['age'])
print("Address:",person['address'])

Name: John
Age: 25
Address: New York

In [11]:
# Q2. Add a new key-value pair with key 'phone'
person['phone'] = '9876543210'
print("Updated Dictionary:", person)

Updated Dictionary: {'name': 'John', 'age': 25, 'address': 'New York', 'phone': '9876543210'}

In [13]:
# Topic: Set
# Excercise 3
# Q1. Create a set with values 1, 2, 3, 4, and 5
numbers_set = {1, 2, 3, 4, 5}
print("Set:", numbers_set)

Set: {1, 2, 3, 4, 5}

In [15]:
# Q2. Add the value 6 to the set
numbers_set.add(6)
print("Set after adding 6:", numbers_set)

Set after adding 6: {1, 2, 3, 4, 5, 6}

In [17]:
# Q3. Remove the value 3 from the set
numbers_set.discard(3)
print("Set after removing 3:", numbers_set)

Set after removing 3: {1, 2, 4, 5, 6}

In [19]:
# Topic: Tuple
# Excercise 3
# Q1. Create a tuple with values 1, 2, 3, and 4
numbers_tuple = (1, 2, 3, 4)
print("Tuple:", numbers_tuple)

Tuple: (1, 2, 3, 4)